user: kevinvandenborne
account_picture: files/Picture.jpg
dotfiles_dir: '/Users/{{ user }}/'
gitconfig_name: Kevin Vandenborne
gitconfig_email: kevin.vandenborne@gmail.com
osx_lock_screen_text: When found, return to Hogeweg 27, 3800 Sint-Truiden, Belgium!\n ..
osx_dock_tile_px: 42
osx_hostname: Hestia
terminal_theme: Flat

homebrew_taps:
  - caskroom/versions

homebrew_apps:
  - git
  - brew-cask
  - htop-osx
  - ssh-copy-id
  - git-flow-avh
  - docker
  - docker-compose
  - autoconf
  - curl
  - php70
  - composer
  - homebrew/php/php-cs-fixer
  - php-code-sniffer
  - node
  - dnsmasq
  - michaeldfallen/formula/git-radar
  - diff-so-fancy

gems:
  - bundler
  - sass

cask_apps:
  - sublime-text
  - vagrant
  - virtualbox
  - google-chrome
  - firefox
  - sequel-pro
  - spotify
  - slack
  - 1password
  - alfred
  - java7
  - garmin-express
  - iterm2
  - steam
  - shiftit
  - phpstorm
  - whatpulse
  - mkchromecast
  - osxfuse-beta
  - whatsapp
  - gpgtools
  - nylas-n1
  - transmit

vagrant_plugins:
  - vagrant-vbguest
  - vagrant-cachier
  - vagrant-hostsupdater
  - vagrant-triggers

dock_apps: []
dock_others: []
